*~
*.a
*.o
*.dll
*.so
*.cmi
*.cmx
*.cmxs
*.cmxa
*.cmo
*.cma
*.cmt
*.opt
*.run
*.cmti
*.annot
*.exe
*.lib
*.obj
*.log
*.cache
*.status
*.omc
*.out
*.tar.gz
*.tar.xz
*.idoc
/setup.ml
/.omakedb*
/_oasis
/src/config.h
/src/config.h.in
/src/configure
/src/autom4te.cache/
